.app-container {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar {
  height: 100vh;
  width: 200px;
}

.post-card {
  margin: 20px 50px;
  width: 30rem;
}

.hashtag {
  margin: 0px 3px;
}
.reactions {
  margin: 15px 0px 0px 0px;
  height: 50px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.create-post {
  width: 70%; /*30rem*/
  margin-top: 50px;
  margin-left: 10px;
}
.welcome-message {
  margin: 100px 0px 50px 0px;
}
.spinner {
  margin: 100px 0px 50px 0px;
}
